{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height nested-img">

  {{ if eq .Title "Podcast" }}
    <section class="cf ph3 ph5-l pv3 f4 tc-l center measure-wide lh-copy mid-gray">
      {{ with .Site.GetPage "/podcasts" }}{{ .Content }}{{ end }}
    </section>
  {{ end }}

  {{ if eq .Title "Blog" }}
    <section class="cf ph3 ph5-l pv3 f4 tc-l center measure-wide lh-copy mid-gray">
      {{ with .Site.GetPage "/blogs" }}
      {{ .Content }}{{ end }}
    </section>
  {{ end }}


  

  {{ if eq .Title "Podcast" }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <h1 class="flex-none">
        what is this podcast about?
      </h1>
      <p>Some blah blah</p>

    </div>
  {{ end }}

  {{ if eq .Title "Blog" }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <h1 class="flex-none">
        Blog
      </h1>
      <p>Some blah blah</p>
    </div>
  {{ end }}

  

  {{/* Layout styles depending on the page title */}}

  {{ if or (eq .Title "Blog") (eq .Title "Blog") }}
    <section>
      {{ range .Paginator.Pages }}
      <div>
        {{- partial "listsummary.html" . -}}
      </div>
      {{ end }}
    </section>
  {{ else}}
    <section class="cf ph3 ph5-l f4 tc-l center measure-wide lh-copy mid-gray">    
      {{- .Content -}}  
    </section>
    <section class="flex-ns flex-wrap justify-around">
      {{ range .Paginator.Pages }}
      <div class="relative w-100 w-30-l mb4 bg-white">
        {{- partial "summary.html" . -}}
      </div>
      {{ end }}
    </section>
  {{ end }}
  

  {{- template "_internal/pagination.html" . -}}
</article>
{{ end }}